.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}
.box {
    width: 30%;
    height: 100px;
    margin: 10px;
    background-color: #ACE2E1;
    border: 1px solid #ccc;
    padding: 20px;

}
.box:hover {
    background-color: #41C9E2;
    color: white;
}
button{
    background-color: pink;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: 30px;
}
body {
    background-color: #F7EEDD;
    padding: 20px;
    border-radius: 10px;
}