.left-container{
    width: 100%;
    height: 100%;
    background-color: #ACE2E1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.right-container{
    width: 900px;
    height: 100%;
    background-color: #ACE2E1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.other-msg{
    background-color: #ACE2E1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    align-items: flex-end;
}
.my-msg{
    background-color: #41C9E2;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    align-items: flex-end;
}

body{
    background-color: #F7EEDD;
    padding: 20px;
    border-radius: 10px;
}