@import url(https://fonts.google.com/share?selection.family=Montserrat:ital,wght@0,100..900;1,100..900);

*
{
    margin:0; 
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    display:flex;
    flex-direction: column;
    background-color:#F7EEDD;
    min-height: 100vh;
    max-height: 100vh;
}
.navbar{
    width:inherit;
    height:5vh;
    background-color:#ACE2E1;
}
.content{
    display: flex;
    height: 95vh;
    width:inherit;
}
.container-left{
    display:flex;
    height:auto;
    flex-direction: column;
    width:60vw;
    margin:15px 15px 15px 30px;
    /* background-color: #ACE2E1; */
}
.container-right
{
    background-color: #ACE2E1;
    position:relative;
    height:auto;
    width:40vw;
    margin:15px 40px 15px 15px;
    border-radius: 20px;
    border:2px solid rgb(255,255,255,.2);
    /* background:transparent;
    backdrop-filter: blur(50px); */
    box-shadow: 0 0 10px rgb(0,0,0,.2);
}
.container-right .displaybox
{
    flex-grow:1;
    height:auto;
    width:auto;
    margin:5px 5px 5px 5px;
    border-radius: 20px;
    background-color: aliceblue;
    border:2px solid rgb(255,255,255,.2);
    box-shadow: 0 0 10px rgb(0,0,0,.2);

}
.container-right .typebox{
    position: relative; 
    width:100%;
}
.container-right input{
    width:inherit;
    height:inherit;
    border: 2px solid #41C9E2;
    background: transparent;
    outline: 0;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 20% 20px 20px;
    color: white;
}
.container-right input::placeholder
{
    color: white;
}
.container-right .typebox button{
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    width:15%;
    border-radius: 40px;
    border:2px solid rgb(255,255,255,.2);
    background-color:#41C9E2;
    margin:15px 15px;
    color:white;

}
.container-right .typebox i{
    color: inherit;
    font-size:30px;
}
.container-right .typebox button:hover{
    border:none;
    background-color: #ACE2E1;
    box-shadow: 0 0 10px 2px rgb(0,0,0,.2); 
    cursor:pointer;
    color:black;
}
.container-right .description{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color:brown;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
}
.container-right .description.hidden{
    display:none;
}
.container-right .comments{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    padding: 5px;
    /* background-color: #ea08bd; */

    display:flex;
    flex-direction: column-reverse;
    border-radius: 20px;
}
.container-right .comments.hidden{
    display:none;
}
.container-right .live-chat{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    padding: 5px;
    /* background-color: #e70e0e; */
    display:flex;
    flex-direction: column-reverse;
    border-radius: 20px;
}
.container-right .live-chat.hidden{
    display:none;
}
.container-right .quiz{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #b0d72e;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
}
.container-right .quiz.hidden{

    display:none;
}
.container-right .resources{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    margin: 10px 0px;
    width: auto;
    height: auto;
    padding: 5px;
    /* background-color: #401b58; */
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 20px;
}
.container-right .resources::-webkit-scrollbar{
    position:absolute;
    right:15px;
    top:15px;
    bottom:15px;
    width:10px;
    border:2px solid rgb(255,255,255,.2);
    border-radius: 99em;
    /* outline: 2px dashed rgb(92, 112, 150); */
    background:#41C9E2;
    display: block;
}
.container-right .resources::-webkit-scrollbar-thumb {
    background: #000;
    color:#000;
    height: 5px;
    border:2px solid #41C9E2;
    border-radius: 99em;
    height: 1px;
    width: auto;
  }

.container-right .resources.hidden{
    display:none;
}
.container-right .resources .playlist-video{
    min-height:130px;
    width:auto;
    background-color: transparent;
    border:2px solid rgb(0,0,0,.2);
    box-shadow: 0 0 10px rgb(0,0,0,.2);
    border-radius: 5px;

}
.player{

    border-radius: 20px;
    border:2px solid rgb(255,255,255,.2);
    background-color:#ACE2E1;
    box-shadow: 0 0 10px rgb(0,0,0,.2);
    height:543px;
}
.ui-data {
    margin-top: 5px;
    flex-grow: 1;
    width:auto;
    height:initial;

}
.ui-data>.title{
    width:auto;
    height:70%;
    border-radius: 10px;
    border:2px solid rgb(255,255,255,.2);
    background-color:transparent;
    backdrop-filter: saturate;
    box-shadow: 0 0 10px rgb(0,0,0,.2); 

}
.ctrl-buttons
{   
    border-radius: 10px;
    border:2px solid rgb(255,255,255,.2);
    background-color:#008DDA;
    /* background-color:transparent; */
    backdrop-filter: saturate;
    box-shadow: 0 0 10px rgb(0,0,0,.2); 
    display:flex;
    height:30%;
    width:auto;
    margin-top: 3px;
}
.ctrl-buttons button{
    flex-grow:1;
    border-radius: 40px;
    border:2px solid rgb(255,255,255,.2);
    background-color:#41C9E2;
    margin:2px 5px;
}
.ctrl-buttons button:hover{
    border:none;
    background-color: #ACE2E1;
    box-shadow: 0 0 10px 2px rgb(0,0,0,.2); 
    cursor:pointer;
}
.ctrl-buttons span{
    font-size:large;
}