@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *,
*::before,
*::after{
    box-sizing:border-box;
} */
*
{
    margin:0; 
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins","sans-serif";
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background:url(login.jpg);
    background-size:cover ;
    background-position:center ;
    min-height: 100vh;
    position:relative;

}
.teacherstudent
{
    position:absolute;
    top:0;
    right:0;
    background:transparent;
    backdrop-filter: blur(20px) ;
    margin:10px 10px;
    border:2px solid rgb(255,255,255,.2);
    width:fit-content;
    color:white;
    border-radius: 20px;
    padding:5px 5px;
    box-shadow: 0 0 10px rgb(0,0,0,.2);
}
.teacherstudent a
{
    text-decoration:none;
    color:white;
}
.container{
    background:transparent;
    backdrop-filter: blur(20px) ;
    border:2px solid rgb(255,255,255,.2);
    width:420px;
    color:white;
    border-radius: 20px;
    padding:30px 40px;
    box-shadow: 0 0 10px rgb(0,0,0,.2);

}
.container  h1{
    font-size:36x;
    text-align: center;
}
.container .inputbox{

    position: relative;
    width: 100%;
    height: 50px;
    margin:30px 0px;
}
.inputbox input{
    height: 100%;
    width:100%;
    border:2px solid rgb(255,255,255,.2);
    background:transparent;
    outline:0;
    border-radius:40px;
    font-size: 16px;
    padding:20px 100px 20px 20px;
    color:white;
}
.inputbox input::placeholder
{
    color: white;
}
.inputbox i{
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    font-size:20px;
}
.container .remember-forget{
    display:flex;
    justify-content: space-between;
    margin:-15px 0 15px;
    font-size:14.5px;
}
.remember-forget label input{
    accent-color: white;
    margin-right: 3px;
}
.remember-forget a{
    color:white;
    text-decoration: none;
}
.remember-forget a:hover
{
    text-decoration: underline;
}
.container .login-button{
    width:100%;
    height:45px;
    border-radius:40px ;
    outline: none;
    border:none;
    box-shadow: 0 0 10px rgb(0,0,0,.2);
    color:#333;
    font-weight: 600;
    font-size:16px;
}
.container .login-button:hover
{
    background: #333;
    color:white;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(255,255,255,.4);
}
.container .no-account-register
{
    font-size:14.5px;
    text-align: center;
    margin: 20px 0  15px;
}
.no-account-register p a{
    color:white;
    text-decoration: none;
    font-weight: 600;
}
.no-account-register p a:hover
{
    text-decoration: underline;
}